---
---

.layers
  %ul#layer-select
    %li#background.tab.active{ data: { "layer-name" => "layer-background" } }
      Background
    %li#create-layer.tab
      +
  %ul#layers
    %li.active{ data: { "layer-name" => "layer-background" } }
      .vitals
        .preview
          %canvas{ width: 400, height: 300 }
        .name
          Background

        %input.file{ type: "file", name: "files[]", multiple: true }
      .script

.tiles

#working-draft
  %button#select-script{ data: { target: "puzzlescript" }}
    Select All
  %pre#puzzlescript

%script#layer-template{ type: "text/template" }
  %li
    .vitals
      .preview
        %canvas{ width: 400, height: 300 }
      .name
        Background

      %input.file{ type: "file", name: "files[]", multiple: true }
    .script

%script#layer-tab-template{ type: "text/template" }
  %li.tab
    New Tab


