$brand-bold: red;
$brand-danger: red;
$brand-success: red;
$brand-primary: red;
$gray: red;
$gray-dark: red;
$gray-darker: red;
$gray-darkest: red;
$brand-gray-light: red;
$table-border-color: red;
$small-circle-radius: 2px;
$line-height-computed: 1em;
$screen-md-min: 10px;

// put atomic helpers in here, later we will break them out into
// more files for things like positioning, padding/margins, and
// colour. Each rules should do something very small so that they
// can easily be composed

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.block-center {
    display: block;
    margin: 0 auto;
}

.dotted {
    border: 2px dotted $brand-bold;
}

.dotted-right {
    border-right: 2px dotted $brand-bold;
}

.dotted-left {
    border-left: 2px dotted $brand-bold;
}

.lightly-dashed {
    border: 1px dashed $brand-gray-light;
}

.solid {
    border: 1px solid $table-border-color;
}

.solid-right {
    border-right: 1px solid $table-border-color;
}

.thick-border {
    border-width: 2px;
}

.borderless-bottom {
    border-bottom: none;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.three-quarters-width {
    width: 75%;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.three-quarters-height {
    height: 75%;
}

.small-circle {
    width: $small-circle-radius*2;
    height: $small-circle-radius*2;
    border-radius: $small-circle-radius;
}

.soft-sides {
    padding-left: $line-height-computed;
    padding-right: $line-height-computed;
}

.well.soft-sides {
    padding-left: 2*$line-height-computed;
    padding-right: 2*$line-height-computed;
}

.soft-half {
    padding: $line-height-computed/2;
}

.soft-half-right {
    padding-right: $line-height-computed/2;
}

.soft-half-sides {
    padding-left: $line-height-computed/2;
    padding-right: $line-height-computed/2;
}

.soft-left {
    padding-left: $line-height-computed;
}

.soft-top {
    padding-top: $line-height-computed;
}

.soft-right {
    padding-right: $line-height-computed;
}

.soft-bottom {
    padding-bottom: $line-height-computed;
}

.soft-half-bottom {
    padding-bottom: $line-height-computed/2;
}

.soft-extrema {
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;
}

.soft-half-extrema {
    padding-top: $line-height-computed/2;
    padding-bottom: $line-height-computed/2;
}

.push-half {
    margin: $line-height-computed/2;
}

.push-half-bottom {
    margin-bottom: $line-height-computed/2;
}

.push-left {
    margin-left: $line-height-computed;
}

.push-half-left {
    margin-left: $line-height-computed/2;
}

.push-top {
    margin-top: $line-height-computed;
}

.push-bottom {
    margin-bottom: $line-height-computed;
}

.push-half-top {
    margin-top: $line-height-computed/2;
}

.push-extrema {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}

.push-sides {
    margin-left: $line-height-computed;
    margin-right: $line-height-computed;
}

.push-half-extrema {
    margin-top: $line-height-computed/2;
    margin-bottom: $line-height-computed/2;
}

.push-half-bottom {
    margin-bottom: $line-height-computed/2;
}

.no-push {
    margin: 0;
}

.no-push-bottom {
    margin-bottom: 0;
}

.no-push-top {
    margin-top: 0;
}

.btn-bold {
    background-image: linear-gradient(lighten($brand-bold, 10%), $brand-bold);
}

.btn-huge {
    font-size: large;
}

.btn-sharp {
    border-radius: 0;
}

.sharp-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sharp-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bg-white {
    background-color: white;
}

.bg-record-invalid > td:not(.actions) {
    background-color: $brand-danger!important;
}

.bg-notify > td:not(.actions) {
    background-color: $brand-success!important;
}

.pale,
.light-gray {
    color: $brand-gray-light;
}

.gray {
    color: $gray;
}

.primary {
    color: $brand-primary;
}

.dark-gray {
    color: $gray-dark;
}

.white {
    color: white;
}

.shadow {
    text-shadow: $gray-darker -1px -1px;
}

.center-text {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.vertical-top {
    vertical-align: top;
}

.sharp-top.list-group {
    .list-group-item:first-child {
        @extend .sharp-top;
    }
}

.flex {
    display: flex;

    .align-start {
        align-self: flex-start;
    }
}

.strong {
    font-weight: bold;
}

a {
    .underline {
        text-decoration: underline;
    }
}

.underline {
    text-decoration: underline;
}

.float-right {
    float: right;
}

.pointy-corners {
    border-radius: 0px;
}

.hard-sides {
    padding-left: 0px;
    padding-right: 0px;
}

.hard-top {
    padding-top: 0px;
}

.hard-right {
    padding-right: 0px;
}

.hard-extrema {
    padding-top: 0px;
    padding-bottom: 0px;
}

.hard {
    @extend .hard-extrema;
    @extend .hard-sides;
}

.transparent-border {
    border: 1px solid transparent;
}

.embossed {
    border-top: 1px solid $gray-dark;
    border-bottom: 1px solid $gray-darkest;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.relative {
    position: relative;
}

.north {
    position: absolute;
    top: 0;
}

.east {
    position: absolute;
    right: 0;
}

.south {
    position: absolute;
    bottom: 0;
}

.pointer {
    cursor: pointer;
}

